#filterItemList{
    position: fixed;
    height: 100%;
    width: 12%;
    background-color: #ffe6f2;
    color: #660066;
    left: 0%;
    top: 9%;
    z-index: 1;
}
.categoryTitle{
    font-weight: bold;
}
.quantityLabel{
    color: rgb(197, 13, 114);
    position: relative;
    top: 57%;
    left: 28%;
}
#pagehead{
    background-color: #660066;
    color: white;
    z-index: 10;
    width: 100%;
    height: 9%;
    top: 0%;
    left: 0%;
    position: fixed;
}
h1{
    font-size: 256%;
    position: relative;
    text-align: center;
    font-family: sans-serif;
}
#filterByCategory{
    position: absolute;
    left:15%;
    top:6%;
}
#filterByPrice{
    position: absolute;
    left:15%;
    top:20%;
}
#filterBy{
    top:1%;
    position: absolute;
    font-size: 200%;
    left: 15%;
}
#dropimg{
    position: fixed;
    right: 1%;
    top: 2%;
    font-size: 189%;
}
#dropmenu{
    left: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 7%;
    width: 29%;
    color: #660066;
    border-color: #edd0ed;
}
#itemsbody{
    left: 11%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 10%;
    width:85%;
    position: relative;
}
.eachItem{
    border: 1px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-radius: 2%;
    padding: 2%;
    background-color: #fff7fb;
    border-color:#edd0ed;
    width:32%;
    height: 350px;
    float: left;
    margin-left: 1.335%;
    margin-bottom: 1.335%;
}
.eachItemBody{
    position: relative;
    height: 300px;
}
.eachItemName{
    font-weight: bold;
    font-size: 120%;
    color: #660066;
    height: 12%;
}
img.eachItemImage{
    width: 78%;
    top: 4%;
    left: 10%;
    height: 50%;
    position: absolute;
}
img.eachItemImage:hover {
    cursor: pointer;
    height:102%;
    width: 95%;
    z-index: 1;
    top:10%;
    position: absolute;
}
.eachItemPrice{
    color:rgba(33, 140, 211, 0.836);
    position: relative;
    top: 58%;
}
.priceLabel{
    font-weight: bold;
    color:rgb(139, 125, 218);
    position: relative;
    top: 58%;
}
.addToCartButtons{
    background-color: #660066;
    border-color: #660066;
    color: white;
    font-size: 110%;
    border-radius: 5%;
    padding: 1%;
    position: relative;
    top: 80%;
    right: 14%;
    width: 65%;
}
.addToCartButtons:hover{
    background-color: #330033;
    border-color: #330033;
}
.quantityNumber{
    width: 10%;
    border-radius: 20%;
    position: relative;
    top: 57%;
    left: 30%;
}
#searchbox{
    position: absolute;
    width:25%;
    top: 14%;
    left: 15%;
    border-color: #660066;
}
#sortLabel{
    position: absolute;
    top: 14.5%;
    left: 43%;
    color: #660066;
    font-size: 121%;
}
#menu{
    border-color: #660066;
    position: absolute;
    left: 48%;
    top: 14%;
    width: 12%
}
#grid{
    position: absolute;
    left: 74%;
    top: 14%;
    width: 9%;
    height: 4%;
    color: #660066;
    background-color:white;
    border-color: #660066;
    border-radius:10%; 
    border-width: thin;
}
#list{
    position: absolute;
    left: 84%;
    top: 14%;
    width: 9%;
    height: 4%;
    color: #660066;
    background-color:white;
    border-color: #660066;
    border-radius:10%; 
    border-width: thin;
}
#viewLabel{
    position: absolute;
    top: 14.5%;
    left: 70%;
    color: #660066;
    font-size: 128%;
}
#gridview{
    position: relative;
    border: #660066;
    border-style: solid; 
}
#footer{
    background-color: #660066;
    color:#ffe6f2;
    width: 100%;
    height: 30%;
    z-index: 1;
    position: absolute;
    margin-top: 8%;
}
#deliveryIcon{
    left: 7%;
    position: absolute;
    top: 12%;
    font-size: 280%;
    cursor: pointer;
}
#delivery1{
    position: absolute;
    font-weight: bold;
    left: 11%;
    font-size: 121%;
    top: 11%;
    cursor: pointer;
}
#delivery2{
    position: absolute;
    left: 11%;
    font-size: smaller;
    top: 22%;
    cursor: pointer;
}
#contactus1{
    position: absolute;
    font-weight: bold;
    left: 30%;
    font-size: 234%;
    top: 13%;
    cursor: pointer;
}
#contactus2{
    position: absolute;
    font-weight: bold;
    left: 31.5%;
    font-size: 121%;
    top: 14%;
    cursor: pointer;
}
#contact1{
    position: absolute;
    font-weight: bold;
    left: 34%;
    font-size: 121%;
    top: 11%;
    cursor: pointer;
}
#contact2{
    position: absolute;
    left: 34%;
    font-size: smaller;
    top: 22%;
    cursor: pointer;
}
#gifticon{
    left: 52%;
    position: absolute;
    top: 10%;
    font-size: 291%;
    cursor: pointer;
}
#gift1{
    position: absolute;
    font-weight: bold;
    left: 56%;
    font-size: 121%;
    top: 11%;;
    cursor: pointer;
}
#gift2{
    position: absolute;
    left: 56%;
    font-size: smaller;
    top: 22%;
    cursor: pointer;
}
#loyaltyicon{
    position: absolute;
    font-weight: bold;
    left: 76%;
    font-size: 275%;
    top: 13%;
    cursor: pointer;
}
#loyalty1{
    position: absolute;
    font-weight: bold;
    left: 80%;
    font-size: 121%;
    top: 11%;
    cursor: pointer;
}
#loyalty2{
    position: absolute;
    left: 80%;
    font-size: smaller;
    top: 23%;
    cursor: pointer;
}
#noitems{
    color: red;
    font-weight: bolder;
    top: 20%;
    left: 15%;
    position: absolute;
}
#space{
    color:white;
    position: relative;
    left:50%;
}
a.service{
    color:rgba(255, 255, 255, 0.342);
}
a.service:hover{
    color:#a19c9f;
}
#itemcontainer{
    position: relative;
    top:85px;
    min-height: 580px;
}